.notValid{
    visibility: hidden;
    animation: show 2s reverse;
}
.valid{
    visibility: visible;
    animation: show 2s;
}
.form-control.is-invalid{
    background:linear-gradient(0deg,#ffffff8f, #ffffffa6);
}
@keyframes show{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}